fastapi
uvicorn
httpx
pydantic
python-multipart
chromadb
transformers
torch
sentence-transformers
numpy
scikit-learn
python-dotenv
Pillow
nibabel
kagglehub
iterative-stratification
open_clip_torch
scikit-image
